<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'tournaments/login_style.css' %}">
</head>
<body>
    <div class="container border rounded">
        <h5>Reset Password</h5><br>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="password" class="form-control" name="password_new" placeholder="New Password">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password_confirm" placeholder="Confirm Password">
            </div>
            <input class="btn btn-primary" type="submit" name="" value="Reset Password">
            <br>
            <hr>
            <p><a href="http://127.0.0.1:8000/tournamentsPortal/login">Log In</a></p>

        </form>
    </div>

     {% if error %}
        <div class="alert alert-danger info_reset" role="alert">
            {{ info }}
        </div>
        {% elif info != 'NULL' %}
        <div class="alert alert-primary info_reset" role="alert">
            {{ info }}
        </div>
    {% endif %}


</body>
</html>